@use '../.././partials/variables' as *;


.comments{
    padding: $mobile-padding;
    &__box{
        border-bottom: 1px solid $cp-silver;
        display: flex;
        padding: 1.5rem 0 1rem 0;
       
        &:first-child{
            border-top: 1px solid $cp-silver;
        }

        &--pic{
            align-self: flex-start;
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
    }
    &__box2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 73vw;


        &--content{
            padding-top: .5rem;
            width: 100%;
        }
    }
    &__cheating{
        padding: 2.5rem 0 2.5rem 0;
    }
}