@use '../.././partials/variables' as *;
.recommended{
    padding: $mobile-padding;
    
    &__video{
        display: flex;
        height: 70px;
        margin-bottom: 2.5rem;

        &--pic{
            border-radius: 5px;
            width: 120px;
            height: 70px;
        }

        &--info{
            width: 48.75vw;
          padding-left: 1rem;

          &-title{
              padding-bottom: 1rem;
          }
        }
        
    }



}